/build
/.vscode
/gdb.txt
/.idea
/cmake-build-debug
/accounts
*.o
*.so
.vscode/
.idea/
build/
*.cbp
.cache/
cmake-build-debug
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
inject.lock
*.id0
*.id1
*.nam
*.til
gdb.txt
.vs
